/workspaces/zoomcamp/data-engineering-zoomcamp/01-docker-terraform/2_docker_sql/ny_taxi_postgres_data
/workspaces/zoomcamp/data-engineering-zoomcamp/01-docker-terraform/2_docker_sql/taxi_zone_lookup.csv
/workspaces/zoomcamp/data-engineering-zoomcamp/01-docker-terraform/2_docker_sql/yellow_tripdata_2020-01.csv
/workspaces/zoomcamp/data-engineering-zoomcamp/01-docker-terraform/2_docker_sql/yellow_test.csv
/workspaces/zoomcamp/data-engineering-zoomcamp/03-data-warehouse/kestra-sandbox-450019-0e75414f2590.json
/workspaces/zoomcamp/data-engineering-zoomcamp/03-data-warehouse/yellow_tripdata_2024-01.parquet
/workspaces/zoomcamp/data-engineering-zoomcamp/03-data-warehouse/yellow_tripdata_2024-02.parquet
/workspaces/zoomcamp/data-engineering-zoomcamp/03-data-warehouse/yellow_tripdata_2024-03.parquet
/workspaces/zoomcamp/data-engineering-zoomcamp/03-data-warehouse/yellow_tripdata_2024-04.parquet
/workspaces/zoomcamp/data-engineering-zoomcamp/03-data-warehouse/yellow_tripdata_2024-05.parquet
/workspaces/zoomcamp/data-engineering-zoomcamp/03-data-warehouse/yellow_tripdata_2024-06.parquet